*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 300000px;
    display: block;
}
.containar{
    width: 80%;
    margin: auto;   
}
.logo{
    color: rgb(10, 10, 10);
    font-size: 30px;
    text-transform: capitalize;
    float: left;
    width: 45%;
}
.navbar.containar{
    overflow: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    
    padding-top: 15px;
}
.nav{
    text-align: right;
    float: left;
    width: 55%;
}
.list{
    list-style: none;
}
.list-item{
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}
.link-item{
    text-decoration: none;
    color:rgb(10, 10, 10) ;
    text-transform: capitalize;
}
.header-content{
    background-image: url(../image/bg-masthead.jpg);
    background-size: cover;
    height: 100vh;
   
}
.headingtitle{
    
    text-align: center;
    padding-top: 300px;
    text-transform: uppercase;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
}
.headingpara{
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    width: 25%;
    margin: auto;
    font-weight: 100;
}
.header .link{
    background-color: rgb(100, 161, 157);
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 10%;
    height: 60px;
    margin:40px auto;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 100;
}
.header .overlay{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
    height: 100vh;
}
.header-about{
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.abouttitle{
    color: white;
    font-size: 27px;
    text-align: center;
    font-weight: 100;
}
.aboutpara{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    width: 40%;
    margin: auto;
    padding-top: 30px;
}
.image{
    color: rgb(33, 37, 41);
    width: 90%;
    height: auto;
    padding-top: 80px;
    
}
.aboutlink{
    color:rgb(100, 161, 157) ;
}
.projectitems{
    align-items: center;
    display: flex;
    margin-bottom: 24px;
}
.item1{
    margin-bottom: 16px;
    max-width: 100%;
}
.backgroundimage{
    width: 90%;
    height: auto;
    padding-top: 80px;
}
.item2{
    text-align: center;
}
.item2-heading{
    font-weight: 100;
    text-transform: capitalize;
    color:rgb(33, 37, 41);
}
.item2-para{
    color: rgba(0, 0, 0, 0.5);
    width: 50%;
    font-weight: 100;
    margin: auto;
    padding-top: 20px;
}

.projectimage1{
    width: 100%;
    height: auto;
    
}
.content1{
    width: 50%;
}
.content2{
    background-color: black;
    text-align: center;
    padding-top: 160px;
    margin-bottom: 4px;
    width: 50%;
}
.content2-title{
    text-transform: capitalize;
    color:white;
    font-weight: 100;
    font-size: 30px;
}
.content2-para{
    color:rgba(255, 255, 255, 0.5) ;
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-weight: 100;
}
.projectscontent1 .containar{
    display: flex;
    flex-wrap: wrap;
}
.projectscontent2{
    display: flex;
}
.contact1{
    text-align: center;
    margin-top: 160px ;
    background-image: url(../image/bg-signup.jpg);
    background-size: cover;
    background-position : 0px -100px;
    width: 100%;
}
.contact1 .overlay{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%)
}

.contact1-content{
    padding-top: 200px;
}
.fa-paper-plane{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}
.contact1-title{
    color: white;
    font-size: 40px;
    font-weight: 100;
}
.form{
    padding-top: 40px;

}
.email{
    width: 30%;
    
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    color:rgba(255, 255, 255, 0.5) ;

    border-radius: 10px;
    padding: 15px 35px 15px 15px ;
}
.submit{
    width: 15%;
    font-size: 18px;
    font-weight: 100;
    color: white;
    background-color:rgb(100, 161, 157) ;
    border-radius: 10px;
    padding:15px 35px 15px 15px ;
}
.contact2{
    background-color: black;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.address{
    background-color: white;
    text-align: center;
    padding: 60px;
    border-radius: 10px;
    
}
.fa-map-marked-alt{
    color:rgb(100, 161, 157)  ;
}
.address-title{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
}
.line{
    background-color: rgb(100, 161, 157);
    height: 2px;
    width: 60px;
    margin: auto;
    margin-top: 15px;
    display: block;
}
.address-para{
    color:rgba(0, 0, 0, 0.5);
    padding-top: 30px;
}
.email2{
    background-color: white;
    text-align: center;
    padding: 75px;
    border-radius: 10px;
    
}
.fa-envelope{
    color: rgb(100, 161 , 157);
}
.email2-title{
    text-transform: uppercase;
    font-weight:100 ;
    font-size: 16px;
}
.email2-link{
    color:rgb(100, 161 , 157);
    padding-top: 30px; 
    list-style: none;
    display: block;
}
.phone{
    background-color: white;
    text-align: center;
    padding: 85px;
    border-radius: 10px;
    
}
.fa-mobile{
    color: rgb(100, 161 , 157);
}
.phone-title{
    text-transform: uppercase;
    font-weight:100 ;
    font-size: 16px;
}
.phone-para{
    color:rgba(0, 0, 0, 0.5);
    padding-top: 30px; 
}
.footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: black;
    padding: 100px;
}